:root{
    --primary: #6c38cc;
    --secondary: #e47ad5;
    --total-black: #101114;
    --black: #16171d;
    --gray-dark: #1e1f29;
    --violet-dark: #2e2d3d;
    --gray-stroke: #4d5064;
    --gray-light: #dad9de;
    --gray: #afb2bf;
    --gradient: linear-gradient(93.33deg, #d77be6 9.26%, #be63e6 42.32%, #9f5be2 71.89%, #6d38cc 100%);
    --white: #fafafa;
    --green: #38cc6c;
    --yellow: #fdf41a;
    --radius: 10px;
    --primary-hover: #452481;
    --primary-link: #a97bff;
    --layout-max-width: #1220px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--black);
    color: var(--white);
    --webkit0-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

article{
    display: flex;
    flex-direction: column;
    padding: 36px;
    background-color: var(--violet-dark);
    border-radius: 10px;
    justify-content: space-between;
    gap: 16px;
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    article{
        flex-direction: row;
        min-width: 100%;
    }
}
