*{ margin: 0; padding: 0;}
.nav{
    background-color: #18b5a4;
    position: relative;
}
.logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 25px;
   
}
.main-nav {
    display: flex;
    justify-content: center;
    list-style: none;
}
.main-nav li:hover{
    background-color: #ff5900;
}
.main-nav a {
    margin: 10px;
    color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
}
.main-nav .logo {
    background: #4584b1;
}
@media (max-width: 626px) {
    .logo{
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        margin: 0;
        background-color: #40c4c8;
        text-align: center;
        padding: 7px 0;
    }
    .main-nav a{
        padding: 0 17px;
    }
}
@media (max-width: 465px) {
    .main-nav{
        flex-wrap: wrap;
    }
}