*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
body{
    background: linear-gradient(45 deg, rgb(189, 50, 82), rgb(241, 90, 90));
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card{
    display: flex;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.36);
}

.card::before{
    content: "";
    position: absolute;
    top: calc(100% - 400px);
    left: -80px;
    z-index: -1;
    background: rgb(211, 67, 86);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 500px;
    height: 500px;
}
.card::after{
    content: "";
    position: absolute;
    top: -80px;
    right: -16px;
    z-index: -1;
    background: rgb(228, 79, 87);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 300px;
    height: 300px;
}
.card .container-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: #ffffff;
    background: linear-gradient(180deg, rgb(189, 50, 82), rgb(241, 90, 90));
    padding-left: 2rem;
    padding-right: 3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card .container-label span {
    background-color: #ffffff;
    margin-top: 2px;
    height: 3px;
    width: 48px;
}

.card .container-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
}

.card .container-icon .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: linear-gradient(180 deg, rgb(207, 68, 100), rgb(240, 89, 90));
    height: 48px;
    width: 48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card .container-icon .circle i {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 900;
}

.card .container-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(189, 50, 82);
    background: #e0e0e0;
    padding: 5rem;
    width: 450px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card .container-form label{
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card .container-form input {
    color: rgb(120, 96, 96);
    background-color: transparent;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(233, 157, 175);
    width: 100%;
}

.card .container-form input:focus {
    border-color: rgb(189, 50, 82);
    outline: 0;
}

.card .container-form input::placeholder{
    color: rgb(233, 157, 175);
}

.card .container-form #email {
    margin-bottom: 1.75rem;
}

.card .container-form .change-password {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(189, 50, 82);
    margin-top: 0.75rem;
}

.card .container-form .change-password a{
    color: rgb(189. 50, 82);
}

.card .container-form button {
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgb(189, 50, 82), rgb(241, 90, 90));
    padding: 12px 16px;
    margin-top: 2rem;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .card {
        flex-direction: column;
        width: 100%;
    }

    .card::before {
        display: none;
    }
    .card::after{
        display: none;
    }

    .card .container-label {
        padding: 3rem 2rem;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }

    .card .container-icon {
        display: none;
    }

    .card .container-form form {
        padding: 3rem 2rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        width: auto;
    } 
}