*{margin: 0;padding: 0;box-sizing: border-box;}
body{color: #fff;background-color: #573334;}
#oyun{
    width: 420px;
    background-color: #222222;
    padding: 18px;
    text-align: center;
    margin: auto;
}
h1{
    margin: 0 0 18px 0;
    border: solid 1px #fff;
    padding: 5px;
    font-weight: 400;
}
span{
    font-size: 125%;
    padding: 12px;
}
#netice{
    width: 90px;
    height: 25px;
}
#cavab{
    margin-top: 10px;
    padding: 5px;
    border: none;
    width: 100px;
    background-color: #565613;
    color: #fff;
    cursor: pointer;
}
#cavab:hover{background-color: #0C4F17;}
#dogru, #yanlis{
    font-size: 150%;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
}
#dogru{background-color: #1C9605;}
#yanlis{background-color: #BD0C0C;}
